<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- link rel="stylesheet" href="static/global.css" />
		<link rel="stylesheet" href="static/fonts/stylesheet.css" / -->

		



<link rel="modulepreload" href="/./_app/start-7515dbc8.js">
			<link rel="modulepreload" href="/./_app/chunks/index-b2d6eaf9.js">
			<link rel="modulepreload" href="/./_app/pages/templates/full-height-hero.svelte-35208263.js">
			<link rel="modulepreload" href="/./_app/chunks/Container-e350b963.js">
			<link rel="stylesheet" href="/./_app/assets/start-afcd9f1b.css">
			<link rel="stylesheet" href="/./_app/assets/pages/templates/full-height-hero.svelte-a8e88c51.css">
			<link rel="stylesheet" href="/./_app/assets/Container-705284c7.css">


		<script type="module">
			import { start } from "/./_app/start-7515dbc8.js";
			start({
				target: document.querySelector("#svelte"),
				paths: {"base":"","assets":"/."},
				status: 200,
				error: null,
				session: {},
				nodes: [
					import("/./_app/pages/templates/full-height-hero.svelte-35208263.js")
				],
				page: {
					host: "location.host",
					path: "/templates/full-height-hero",
					query: new URLSearchParams(""),
					params: {}
				}
			});
		</script>
	</head>
	<body>
		<div id="svelte">


<main class="svelte-14wfx85"><header class="svelte-3jpwsx full-height"><div class="background svelte-a0yw2i" style="opacity: 1;"><img src="https://images.unsplash.com/photo-1597070912765-4be70db51d95?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjYxNDV9&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80" alt="Background image" class="svelte-gvpefz"></div>
	<div class="container  svelte-lm9ih5"><h1 class="svelte-3jpwsx">Lorem ipsum</h1>
<p class="svelte-3jpwsx">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nesciunt mollitia ipsum harum
	nobis deleniti repudiandae similique iure libero explicabo! Ipsam voluptatum non nisi suscipit
	placeat amet id qui adipisci?
</p></div>
</header></main>

<nav class="svelte-1i9h66j"><a href="/" class="svelte-1jg4p4e level-0">home</a>

  <div class="dropdown svelte-1i9h66j"><button class="svelte-1i9h66j">Examples</button>
    <div class="dropdown-content svelte-1i9h66j"><a href="/examples/reveals" class="svelte-1jg4p4e">reveals</a>
      <a href="/examples/hovers" class="svelte-1jg4p4e">hovers</a>
      <a href="/examples/css-box-reflect" class="svelte-1jg4p4e">css box reflect
      </a></div></div>

  <div class="dropdown svelte-1i9h66j"><button class="svelte-1i9h66j">Templates</button>
    <div class="dropdown-content svelte-1i9h66j"><a href="/templates/full-height-hero" class="svelte-1jg4p4e">full-height-hero
      </a>
      <a href="/templates/forms" class="svelte-1jg4p4e">forms</a></div></div>

  <div class="dropdown svelte-1i9h66j"><button class="svelte-1i9h66j">3rd party</button>
    <div class="dropdown-content svelte-1i9h66j"><a href="/3rd-party/three" class="svelte-1jg4p4e">three</a></div></div></nav>



	
</div>
	</body>
</html>
