@font-face {
  font-family: "Exo";
  src: url("Exo-ExtraLightItalic.woff2") format("woff2"), url("Exo-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rosario";
  src: url("Rosario-Regular.woff2") format("woff2"), url("Rosario-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mukta Vaani";
  src: url("MuktaVaani-Light.woff2") format("woff2"), url("MuktaVaani-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.subheading,
a,
button {
  font-family: "Exo";
  font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rosario";
  margin: 0;
}

p,
li {
  font-family: "Mukta Vaani";
}

h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2.34em;
}
h4 {
  font-size: 2em;
}
h5 {
  font-size: 1.66em;
}
h6 {
  font-size: 0.67em;
}

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

pre {
  background-color: #f9f9f9;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.05);
  padding: 0.5em;
  border-radius: 2px;
  overflow-x: auto;
}

pre code {
  background-color: transparent;
  padding: 0;
}
